/*
 *	Geral
 */

* { margin: 0px; padding: 0px; outline: none; font-family: Arial, Helvetica, Lucida, sans-serif; font-size: 13px; }
body { background: #fff; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
p { padding: 2px 0px; }

.botaoAcao {
	margin: 0px 5px;
	cursor: pointer;
}

.center {
	text-align: center;
}


/*
 *	Layout
 */
.geral {
	min-width: 1000px;
}

.conteudo {
	display: none;
}

.conteiner {
	position: absolute;
	top: 119px;
	left: 0px;
	right: 0px;
	bottom: 10px;
	overflow: auto;
	padding: 15px 30px;
	font-size: 14px;
}

.tituloModulo {
	border-bottom: 1px solid rgb(220,220,220);
	height: 70px;
}

.tituloModulo h3 {
	padding: 25px 30px;
	font-size: 18px;
}

.formulario .info {
	padding: 0px 0px 20px;
	font-style: italic;
	color: rgb(100,100,100);
}

.barraAcoes {
	margin-bottom: 15px;
}

#message {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

#message img {
	margin-bottom: 10px;
}

.mensagemLogin {
	margin: 10px 0px 0px;
	text-align: center;
	font-size: 13px;
	color: red;
}

#confirm {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

/* Div loading */
#loading {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url(../imagens/bg_30.png) repeat;
}

#loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -63px;
	margin-top: -11px;
}

/* Menu */

.menuPrincipal {
	margin: 0px;
	height: 36px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
/*	background: rgb(130,130,130); */
}

.menuPrincipal ul {
	list-style: none;
	margin-left: 15px;
	margin-right: 15px;
}

.menuPrincipal ul li {
	float: left;
	margin: 5px;
	padding: 4px 15px 4px;
}

.menuPrincipal ul li a {
	text-decoration: none;
	 color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.menuPrincipal a:hover {
	text-decoration: underline;
}

.activeMenu a {
	text-decoration: underline !important;
}

.rightMenu {
	float: right !important;
	color: #fff;
}



	/*
	 *	Datatables
 */

.conteinerDatatable {
	margin-top: 15px;
}

a.linkDatatables:link,
a.linkDatatables:active, 
a.linkDatatables:visited {
	color: blue;
	text-decoration: none;
	padding: 5px 15px;
}

a.linkDatatables:hover {
	text-decoration: underline;
}

a.linkDatatables img {
	visibility: hidden;
	margin-left: 15px;
}

a.linkDatatables:hover img {
	visibility: visible;
}

/*
 *	Formulario
 */

.inputImage {
    border: 1px solid rgb(190,190,190);
    font-size: 14px;
    padding: 3px 15px;
    margin: 0px;
    vertical-align: top;
    color: #ff6600;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background: url(images/bg_menu_mod.png) repeat-x top left;
    cursor: default;
}

.select {
    border: 1px solid rgb(180,180,180) !important;
    font-size: 14px !important;
    padding: 6px 14px !important;
    color: rgb(100,100,100) !important;
    background: rgb(230,230,230) !important;
	margin-bottom: 5px;
}

.select:hover,
.select:focus {
	border: 1px solid #ff6600 !important;
}

.inputButton[disabled], .inputSubmit[disabled] {
    border: 1px solid rgb(210,210,210) !important;
    font-size: 14px !important;
    padding: 7px 14px !important;
    color: rgb(150,150,150) !important;
    background: rgb(240,240,240) !important;
}

.inputButton[disabled]:hover, .inputButton[disabled]:focus,
.inputSubmit[disabled]:hover, .inputSubmit[disabled]:focus {
    background: rgb(240,240,240) !important;
}

.inputButton, .inputSubmit {
    border: 1px solid rgb(190,190,190);
    font-size: 14px;
    padding: 7px 14px;
    color: #ff6600;
    background: rgb(240,240,240);
}

.inputButton:hover, .inputButton:focus,
.inputSubmit:hover, .inputSubmit:focus,
.inputImage:hover, .inputImage:focus {
	border: 1px solid #ff6600;
}

/* Campo de texto e senha*/
.inputText,
.inputPass {
    border: 1px solid rgb(190,190,190);
    font-size: 14px;
    padding: 7px;
    background: #fff;
    margin-bottom: 10px; 
}

.inputText:focus,
.inputPass:focus {
	border: 1px solid #ff6600;
}


.tabelaDados {
	border-collapse: collapse;
	border: 1px solid rgb(180,180,180);
}

.tabelaDados tr th,
.tabelaDados tr td {
	padding: 10px;
	border: 1px solid rgb(180,180,180);
}

.tabelaDados tr th {
	background: rgb(230,230,230);
	font-weight: bold;
}
			
.tabelaDados tr td {
	font-size: 13px;
}
