.tw-modal {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: url(imagens-modal/bg.png) repeat top left;
}

.tw-conteiner-modal {
    background: #fff;
    border: 1px solid gray;
}

.tw-btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

.tw-content-modal {
    margin: 35px 10px 10px;
}
