* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

p {
    padding: 2px 0px;
    font-family: arial;
}

.tw-ui-img {
    border: 0px;
}

.tw-ui-mensagem {
    clear: both;
}

.errorMsg {
    color: #d40000;
    background: #ffaaaa;
    border: 1px solid #ff5555;
    padding: 5px;
    margin-bottom: 10px;
}

.okMsg {
    color: #225500;
    background: #ccffaa;
    border: 1px solid #88ff55;
    padding: 5px;
    margin-bottom: 10px;
}

.geral {
    min-width: 1000px;
}

.tw-ui-menu-principal {
    height: 30px;
    background: #002255;
}
.tw-ui-menu-principal ul {
    list-style: none;
    margin-left: 10px;
}
.tw-ui-menu-principal ul li {
    float: left;
    margin-top: 4px;
}
.tw-ui-menu-principal ul li a {
    color: #fff;
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 15px;
}

.tw-ui-menu-principal ul li a:hover ,
.tw-ui-menu-principal ul li a:focus {
    background: rgb(190,190,190);
    color: #000;
}

.tw-ui-menu-principal ul li a.tw-ui-atual,
.tw-ui-menu-principal ul li a.tw-ui-atual:hover {
    background: rgb(230,230,230);
    color: #000;
}


/*.tw-ui-menu-principal ul li a.action {
    background: rgb(230,230,230);
    color: #000;
}
*/
.tw-ui-bar-page {
    background: rgb(230,230,230);
    height: 50px;
    border-bottom: 1px solid rgb(200,200,200);
}

.tw-ui-name-page {
    padding: 10px 15px;
    font-family: arial;
    width: 300px;
    float: left;
}

.tw-ui-menu-modulo {
    float: left;
    height: 30px;
    margin-bottom: 10px;
}

.tw-ui-menu-modulo ul {
    list-style: none;
    margin-top: 5px;
}

.tw-ui-menu-modulo ul li {
    float: left;
    margin-right: 10px;
}

.tw-ui-menu-modulo ul li a {
    font-size: 14px;
    font-family: arial;
    padding: 5px 10px;
    /*background: rgb(255,255,255);*/
    background: rgb(230,230,230);
    border: 1px solid rgb(190,190,190);
    text-decoration: none;
    color: rgb(70,70,70);
}

.tw-ui-menu-modulo ul li a:hover,
.tw-ui-menu-modulo ul li a:focus {
    background: #2a7fff;
    border: 1px solid #0055d4;
    color: rgb(255,255,255);
}


.tw-ui-busca {
    float: right;
    height: 30px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.tw-ui-busca form {
    margin-top: 0px;
}


.input-button, .input-submit {
    background: #2a7fff;
    border: 1px solid #0055d4;
    font-size: 14px;
    padding: 5px 7px;
    color: #fff;
    cursor: pointer;
}
.input-button:hover, .input-submit:hover,
.input-button:focus, .input-submit:focus {
    background: #0066ff;
}

/* Campo de texto e senha*/
.input-text,
.input-pass {
    border: 1px solid rgb(190,190,190);
    font-size: 14px;
    padding: 5px;
    background: #fff;
}

.combo-box {
    padding: 5px;
    font-size: 13px;
}


.tw-ui-content {
    padding: 10px;
}

.tw-ui-content .tw-ui-formulario-login {
    width: 350px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -185px;
    font-family: arial;
}

.tw-ui-content .tw-ui-formulario {
    font-size: 14px;
    font-family: arial;
    clear: both;
}

.tw-ui-content .tw-ui-formulario-login tr td,
.tw-ui-content .tw-ui-formulario tr td {
    padding: 5px;
}

.tw-ui-listagem {
    border-collapse: collapse;
    font-family: arial;
    font-size: 13px;
    margin-bottom: 10px;
}

.tw-ui-listagem tbody tr {
    border-left: 1px solid rgb(220,220,220);
    border-top: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);
}

.tw-ui-listagem thead tr,
.tw-ui-listagem tfoot tr {
    border: 1px solid #aaccff;
}

.tw-ui-listagem thead tr th,
.tw-ui-listagem tfoot tr td {
    font-size: 14px;
    background: #d5e5ff;
    color: #002255;
    text-align: left;
}

.tw-ui-listagem tr th,
.tw-ui-listagem tr td {
    padding: 7px 10px;
} 

.tw-ui-listagem tbody tr td {
    vertical-align: top;
}

.tw-ui-listagem .conf-usuario {
    border-left: 1px solid rgb(220,220,220);
}



/* Paginação */

.paginacao {
    height: 30px;
    padding: 0px;
    text-align: right;
    font-family: arial;
    clear: both;
}

.paginacao a {
    padding: 3px 7px;
    /*background: #2a7fff;
    border: 1px solid #0055d4;*/
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    color: rgb(50,50,50);
    background: rgb(230,230,230);
    border: 1px solid rgb(200,200,200);
}

a.atual {
    background: #fff;
    color: #2a7fff;
    cursor: default;
}
