* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

p {
    padding: 2px 0px;
    font-family: arial;
}

.tw-ui-cabecalho {
    background: rgb(230,230,230);
    padding: 5px 5px 5px 15px;
    font-family: arial;
    font-size: 22px;
    border-bottom: 1px solid rgb(200,200,200);
}

.tw-ui-cabecalho img {
    border: 0px;
    margin-right: 15px;
    vertical-align: middle; 
}

.tw-ui-user-logged {
    font-size: 14px;
    float: right;
    margin-top: 45px;
}
span.tw-ui-user-logged {
    margin-right: 10px;
}
a.tw-ui-user-logged {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-right: 15px;
}
a.tw-ui-user-logged:hover {
    text-decoration: underline;
}

.tw-ui-img {
    border: 0px;
}

.tw-ui-dicas {
    background: #ffeeaa;
    width: 300px;
    border: 1px solid #ffdd55;
    font-size: 13px;
    margin-left: 10px;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.tw-ui-mensagem {
    margin: 0px;
    text-align: center;
    font-size: 13px;
}

.errorMsg {
    color: #d40000;
    background: #ffd5d5;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffaaaa;
}

.okMsg {
    color: #225500;
    background: #ccffaa;
    border-bottom: 1px solid #88ff55;
    padding: 5px;
    margin-bottom: 10px;
}

.load {
    display: none;
    vertical-align: middle;
}

.geral {
    min-width: 1000px;
}

.tw-ui-menu-principal {
    width: 160px;
    margin: 30px 20px;
    float: left;
}
.tw-ui-menu-principal a {
    text-decoration: none;
}
.tw-ui-menu-principal a div {
    margin: 5px 0px;
    padding: 5px 15px;
    color: #000;
    font-family: arial;
    font-size: 14px;
    padding: 8px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.tw-ui-menu-principal a div:hover {
    background: rgb(240,240,240);
}
.tw-ui-menu-principal .active-menu div {
    color: red;
}

.tw-ui-bar-page {
    background: rgb(230,230,230);
    height: 50px;
    border-bottom: 1px solid rgb(200,200,200);
}

.tw-ui-name-page {
    padding: 10px 15px;
    font-family: arial;
    width: 300px;
    float: left;
}

.tw-ui-menu-mod {
    list-style: none;
    margin: 20px 0px 10px 0px;
    height: 23px;
}

.tw-ui-menu-mod li {
    float: left;
    margin-right: 10px;
}

.tw-ui-menu-mod li a {
    font-size: 14px;
    font-family: arial;
    padding: 5px 10px;
    background: rgb(230,230,230);
    border: 1px solid rgb(190,190,190);
    text-decoration: none;
    color: rgb(70,70,70);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    cursor: default;
}

.tw-ui-menu-mod li a:hover,
.tw-ui-menu-mod li a:focus {
    background: #2a7fff;
    border: 1px solid #0055d4;
    color: rgb(255,255,255);
}

.tw-ui-busca {
    margin-left: 30px;
    margin-top: -5px;
}

.tw-ui-busca form {
    margin-top: 0px;
}


.input-button, .input-submit {
    background: #2a7fff;
    border: 1px solid #0055d4;
    font-size: 14px;
    padding: 5px 7px;
    color: #fff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.input-button:hover, .input-submit:hover,
.input-button:focus, .input-submit:focus {
    background: #0066ff;
}

/* Campo de texto e senha*/
.input-text,
.input-pass {
    border: 1px solid rgb(190,190,190);
    font-size: 14px;
    padding: 5px;
    background: #fff;
    margin-bottom: 5px; 
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.combo-box {
    padding: 4px;
    font-size: 13px;
}

.tw-ui-content-mod {
    margin: 15px 20px 0px 200px;
}
.tw-ui-formulario-login {
    width: 300px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -70px;
    font-family: arial;
}

.tw-ui-content .tw-ui-formulario {
    font-size: 13px;
    font-family: arial;
    margin-top: 40px;
}

.tw-ui-formulario-login tr td,
.tw-ui-content .tw-ui-formulario tr td {
    font-size: 13px;
    padding: 0px;
}

.tw-ui-listagem {
    border-collapse: collapse;
    font-family: arial;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tw-ui-listagem tbody tr {
    border-top: 1px solid rgb(210,210,210);
    border-bottom: 1px solid rgb(210,210,210);
    background: rgb(255,255,255);
}

.tw-ui-listagem thead tr,
.tw-ui-listagem tfoot tr {
    border-top: 1px solid #aaccff;
    border-bottom: 1px solid #aaccff;
}

.tw-ui-listagem thead tr th,
.tw-ui-listagem tfoot tr td {
    font-size: 13px;
    background: #d7eef4;
    color: #002255;
    text-align: left;
    font-weight: normal;
}

.tw-ui-listagem tr th,
.tw-ui-listagem tr td {
    padding: 10px;
    color: rgb(70,70,70);
} 

.tw-ui-listagem tr td img {
    vertical-align: middle;
    margin-right: 10px;

}
.tw-ui-listagem tbody tr td {
/*    vertical-align: top;*/
}

.tw-ui-listagem .conf-usuario {
    /*border-left: 1px solid rgb(220,220,220);*/
}



/* Paginação */

.paginacao {
    height: 30px;
    margin-top: 15px;
    padding: 0px 10px;
    font-family: arial;
    text-align: right;
    font-size: 12px;
}

.paginacao span {
    float: left;
}
.paginacao a {
    padding: 7px 12px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    color: rgb(50,50,50);
    background: rgb(240,240,240);
    border: 1px solid rgb(210,210,210);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    cursor: default;
}

.paginacao a:hover {
    color: rgb(50,50,50);
    background: rgb(235,235,235);
    border: 1px solid rgb(150,150,150);
}

.paginacao a[disabled] {
    color: rgb(150,150,150);
    background: rgb(245,245,245);
    border: 1px solid rgb(230,230,230);
}

a.atual {
    background: #fff;
    color: #2a7fff;
    cursor: default;
}




#texto_wrap {
    border-collapse: collapse;
    border: 1px solid rgb(180,180,180) !important;
}

.texto_tb {
    background: rgb(240,240,240);
    border-bottom: 1px solid rgb(180,180,180) !important;
    padding: 5px !important;
}

.texto_tb img {
    height: auto !important;
    margin: 0px !important;
}
.texto_tb select {
    border: 1px solid rgb(180,180,180) !important;
    padding: 7px;
}
