.formularioLogin {
	background: rgb(255,255,255);
	padding: 30px;
	font-size: 13px;
	margin: 10px;
	width: 400px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
		margin-top: -125px;
}

.formularioLogin h2 {
	margin: 0px 0px 10px;
}

.formularioLogin input[type=text],
.formularioLogin input[type=password] {
	width: 318px;
}
